@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-danger: #ff1948; /* Rojo */
    --color-success: #6ce9a6; /* Verde */
    --color-light: #ffffff; /* Blanco */
    --color-dark: #2e4343; /* Gris oscuro */
    --color-matgreen: #688181; /* Verde mate */
    --color-lightgreen: #d4e1e3; /* Verde claro */
    --color-lightgray: #ebf3f5; /* Gris claro */
    --color-transparent: transparent; /* Transparente */
}

*{
    font-family: 'Inter', sans-serif;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.text-block{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--color-transparent);
}

.hover-line{
    left: 0%;
    bottom: 0%;
    right: 0%;
    top: auto;
    width: 100%;
    height: 1px;
    background-color: var(--color-matgreen);
}

.h2 {
    font-size: 46px;
    font-weight: 600;
    line-height: 1.2;
    font-family: 'Melodrama';
}

.baner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    background-color: var(--color-matgreen);
    font-family: 'Inter';
    font-weight: 500;
    color: var(--color-light);
    padding: 10px 20px;
}

.cart-button{
    position: relative;
    width: 48px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-lightgray);
    backdrop-filter: blur(500px);
}

.cart-button-icon{
    display: inline-flex;
    width: 24px;
    justify-content: center;
    align-self: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    color: var(--color-dark);
}

.cart-quantity{
    position: absolute;
    left: auto;
    top: -4px;
    right: -4px;
    bottom: auto;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 50%;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-size: 10px;
    width: 16px;
    line-height: 1.8;
}
