@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-danger: #ff1948; /* Rojo */
    --color-success: #6ce9a6; /* Verde */
    --color-light: #ffffff; /* Blanco */
    --color-dark: #2e4343; /* Gris oscuro */
    --color-matgreen: #688181; /* Verde mate */
    --color-lightgreen: #d4e1e3; /* Verde claro */
    --color-lightgray: #ebf3f5; /* Gris claro */
    --color-transparent: transparent; /* Transparente */
}

*{
    font-family: 'Inter', sans-serif;
}

body{
    width: 100vw;
    margin: 0;
    padding: 0;
}

p{
    margin-bottom: 0px;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.container-main{
    width: 100%;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.text-block{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--color-transparent);
    position: relative;
}

.hover-line {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: var(--color-matgreen);
    transition: all 0.3s ease-out;
}

  /* Al hacer hover en el item, se muestra la línea */
.text-block:hover .hover-line {
    width: 100%;
    opacity: 1;
}

.h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Melodrama';
    font-size: 60px;
    line-height: 1.1;
    font-weight: 500;
}

.h2 {
    font-size: 46px;
    font-weight: 600;
    line-height: 1.2;
    font-family: 'Melodrama';
}

.baner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    background-color: var(--color-matgreen);
    font-family: 'Inter';
    font-weight: 500;
    color: var(--color-light);
    padding: 10px 20px;
}

.cart-button{
    position: relative;
    width: 48px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-lightgray);
    backdrop-filter: blur(500px);
}

.cart-button-icon{
    display: inline-flex;
    width: 24px;
    justify-content: center;
    align-self: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    color: var(--color-dark);
}

.cart-quantity{
    position: absolute;
    left: auto;
    top: -4px;
    right: -4px;
    bottom: auto;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 50%;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-size: 10px;
    width: 16px;
    line-height: 1.8;
}

.nav-button{
    padding: 12px 24px;
    border: solid 1px var(--color-matgreen);
    background-color: var(--color-light);
    box-shadow: 0 4px 4px rgba(46, 67, 67 0.15);
    transition-property: color, background-color;
    transition-duration: 350ms 350ms;
    transition-timing-function: ease, ease;
    text-transform: uppercase;
}

.primary-button{
    position: relative;
    padding: 0px;
    background-color: var(--color-transparent);
}

.button-border{
    position: relative;
    z-index: 10;
    padding: 16px 24px;
    border: solid 1px var(--color-matgreen);
    background-color: var(--color-light);
    color: var(--color-dark);
    border-radius: 2px;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    transition: top 0.3s ease, left 0.3s ease;  /* Animamos top y left */
}

.button-shadow{
    position: absolute;
    top: -6px;
    left: -6px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: var(--color-matgreen);
}

.button-border:hover{
    position: relative;
    top: -6px;
    left: -6px;
}

.reveal-image-wrap{
    width: 100%;
    height: 100%;
}

.reveal-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

img:hover{
    transform: scale(1.1);
}
